<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <!-- <link rel="stylesheet" type="text/css" href="/css/pages/add-song.css"> -->
    <title>Index</title>
  </head>

  <body>
    <%- include ../partials/header %>
    <main>
      <form>
        <h1>Login in to Spotify</h1>
        <a class="button" href="<%= loginLink %>">Login</a>
      </form>
    </main>
  </body>
</html>
