<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="/css/pages/500.css">
    <title>Index</title>
  </head>

  <body>
    <main>
      <section>
        <h1>Ooops!!</h1>
        <h2>Looks like something went wrong on our end.</h2>
        <p>Please head back home to try again</p>
        <a class="button" href="/">Home</a>
      </section>
      <img src="/img/500-sign.png" alt="500-sing" />
    </main>
    <script type="text/javascript">
      console.log('<%= err %>');
    </script>
  </body>
</html>
